<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meine Communities</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="login.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">GenDev 2024</a>
            </div>
        </nav>
    </header>

    <!-- Community Liste -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Meine Communities</h2>
                <!-- Hier sollten die Communities des Benutzers aufgelistet werden -->
                <!-- Beispiel: -->
                <ul class="list-group my-5">
                    <li class="list-group-item">Community 1</li>
                    <li class="list-group-item">Community 2</li>
                    <li class="list-group-item">Community 3</li>
                </ul>
                <div class="text-center">
                    <a href="create-community.html" class="btn btn-color px-5 mb-2 w-100">
                        Neue Community erstellen
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>