<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="login.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">GenDev 2024</a>
            </div>
        </nav>
    </header>

    <!-- Leaderboard Tabelle -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center text-dark mt-5">Leaderboard</h2>
                <!-- Hier sollten die Benutzer und ihre Punkte aufgelistet werden -->
                <!-- Beispiel: -->
                <table class="table table-striped my-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Benutzer</th>
                            <th scope="col">Punkte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Benutzer 1</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Benutzer 2</td>
                            <td>900</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Benutzer 3</td>
                            <td>800</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>